/*
Theme Name: Kubb Child
Theme URI: 
Description: Child theme for the Kubb theme
Author: <a href="http://www.madeinebor.com" title="Visit author homepage">Tom Rhodes</a>
Author URI: 
Template: kubb
Version: 1.0.0
*/

@import url('../kubb/style.css');
.navbar-brand {
	padding-top: 15px;
}
.navbar-brand img {
	height: 45px;
}
.navbar.fixed .navbar-brand {
	padding-top: 10px;
}
.navbar.fixed .navbar-brand img {
	height: 35px !important;
}
@media (max-width: 767px) {
	.navbar .navbar-brand, 
	.navbar.fixed .navbar-brand {
	    padding-top: 15px !important;
	}
}